<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginfig</key>
	<dict>
		<key>group names</key>
		<array>
			<string>beginfig</string>
			<string>number</string>
		</array>
		<key>search</key>
		<string>(?sm)^.*\b(beginfig\s*\(\s*(\d+)\s*\)).*$</string>
	</dict>
	<key>file-#</key>
	<dict>
		<key>group names</key>
		<array>
			<string>number</string>
		</array>
		<key>search</key>
		<string>.*?(\d+)</string>
	</dict>
</dict>
</plist>
