<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MPINPUTS.unused</key>
	<string></string>
	<key>MFINPUTS.unused</key>
	<string></string>
	<key>MPSUPPORT.unused</key>
	<string></string>
	<key>MPXCOMMAND.unused</key>
	<string></string>
	<key>MPEDIT</key>
	<string>iTeXMac2 edit -line %d -file "%s"</string>
</dict>
</plist>
