<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>iTM2TextDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PDF</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MyDocumentType1</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>iTM2PDFDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iTM3-test-project</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MyProjectDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>iTM3.test.project</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>iTM2ProjectDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MyTextDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>iTM3.text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>iTM2TextDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Test Application</string>
	<key>CFBundleIdentifier</key>
	<string>comp.text.tex.iTM2Foundation.test</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>i™ac</string>
	<key>CFBundleVersion</key>
	<string>1.0 (build SVN_BUILD_NUMBER on SVN_BUILD_DATE)</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>iTeXMac2</string>
	<key>NSPrincipalClass</key>
	<string>iTM2Application</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Text Documents</string>
			<key>UTTypeIdentifier</key>
			<string>iTM3.text.document</string>
			<key>UTTypeReferenceURL</key>
			<string>http://itexmac.sourceforge.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
					<string>text</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/plain</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Wrapper test document</string>
			<key>UTTypeIdentifier</key>
			<string>iTM3.test.wrapper</string>
			<key>UTTypeReferenceURL</key>
			<string>http://itexmac.sourceforge.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iTM3-test-wrapper</string>
				</array>
				<key>public.mime-type</key>
				<string>application/iTM3-test-wrapper</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Project test document</string>
			<key>UTTypeIdentifier</key>
			<string>iTM3.test.project</string>
			<key>UTTypeReferenceURL</key>
			<string>http://itexmac.sourceforge.net</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iTM3-test-project</string>
				</array>
				<key>public.mime-type</key>
				<string>application/iTM3-test-project</string>
			</dict>
		</dict>
	</array>
	<key>iTM2SourceVersion</key>
	<string>97531</string>
</dict>
</plist>
