ARCHS = ppc i386
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
SYMROOT = $(PROJECT_DIR)/../build
OBJROOT = $(SYMROOT)
FRAMEWORK_SEARCH_PATHS = $(SYMROOT)
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)
MACOSX_DEPLOYMENT_TARGET = 10.4
iTM2_PLUGINS_FOLDER_PATH =  $(SYMROOT)/$(PRODUCT_NAME).$(WRAPPER_EXTENSION)/PlugIns
SKIP_INSTALL = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = __ELEPHANT_MODELINE__
GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
PREBINDING = NO
