ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx10.6
iTM3_SDKROOT = $(iTM3_DEVROOT)/SDKs/MacOSX10.6.sdk
SYMROOT = ../DerivedData/iTeXMac3/Build/Products/
BUILD_DIR = $(SYMROOT)
OBJROOT = $(SYMROOT)
USER_HEADER_SEARCH_PATHS = "$(iTM3_HEADERS_DIR)" "$(SYMROOT)/EmbeddedTestCases" "$(SYMROOT)/Milestones"
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)
MACOSX_RELEASE_TARGET = 10.6
SKIP_INSTALL = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_OPTIMIZATION_LEVEL = 5
GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_OBJC_GC = required
PREBINDING = NO
GCC_PREFIX_HEADER = $(iTM2_PREFIX_HEADER)
GCC_PREPROCESSOR_DEFINITIONS_RELEASE = __SYNCTEX_STRONG_DISPLAY_QUERY__ iTeXMac2BundleIdentifier=@\"$(iTeXMac2BundleIdentifier)\" iTM3FoundationBundleIdentifier=@\"$(iTM3FoundationBundleIdentifier)\" iTM2TeXFoundationBundleIdentifier=@\"$(iTM2TeXFoundationBundleIdentifier)\"
//"
INFOPLIST_FILE = $(iTM2_INFOPLIST_FILE)
INFOPLIST_OUTPUT_FORMAT = xml
INFOPLIST_PREPROCESS = YES
INFOPLIST_PREFIX_HEADER = $(BUILD_DIR)/INFOPLIST_PREFIX_HEADER
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -CC
FRAMEWORK_SEARCH_PATHS = "$(SYMROOT)"
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_FOR_TARGET_1)
FRAMEWORK_SEARCH_PATHS_QUOTED_1 = $(BUILD_DIR) $(BUILD_DIR)/Lua.framework/Headers $(SRCROOT)/../ICU/icu/source/common $(SRCROOT)/../ICU/icu/source/i18n $(iTM3_DEVROOT)/Library/Frameworks
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_QUOTED_1) $(inherited)
HEADER_SEARCH_PATHS_QUOTED_1 = $(BUILD_DIR)  $(BUILD_DIR)/EmbeddedTestCases $(BUILD_DIR)/Lua.framework/Headers $(SRCROOT)/../ICU/icu/source/common $(SRCROOT)/../ICU/icu/source/i18n
LD_RUNPATH_SEARCH_PATHS = $(iTM3_DEVROOT)/Library/Frameworks
iTeXMac2BundleIdentifier = comp.text.tex.iTeXMac2
iTeXMac3BundleIdentifier = comp.text.tex.iTeXMac3
iTM3FoundationBundleIdentifier = comp.text.tex.iTM3Foundation
iTM2TeXFoundationBundleIdentifier = comp.text.tex.iTM2TeXFoundation


