<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Atom</string>
	<string>.</string>
	<string>(re)</string>
	<string>(?:re)</string>
	<string>()</string>
	<string>(?:)</string>
	<array>
		<string>Bracket Expression</string>
		<string>[]</string>
		<string>[^]</string>
		<string>[a-z]</string>
		<string>[.abc.]</string>
		<string>[=x=]</string>
		<string>[[:abc:]]</string>
	</array>
	<array>
		<string>Character Class</string>
		<string>[[:alpha:]]</string>
		<string>[[:upper:]]</string>
		<string>[[:lower:]]</string>
		<string>[[:alnum:]]</string>
		<string>[[:print:]]</string>
		<string>\w</string>
		<string>\W</string>
		<string></string>
		<string>\d</string>
		<string>\D</string>
		<string>[[:xdigit:]]</string>
		<string></string>
		<string>[[:blank:]]</string>
		<string>\s</string>
		<string>\S</string>
		<string></string>
		<string>[[:punct:]]</string>
		<string>[[:graph:]]</string>
		<string>[[:cntrl:]]</string>
		<array>
			<string>Character Class (ERE)</string>
			<string>[[:digit:]]</string>
			<string>[[:space:]]</string>
		</array>
	</array>
	<array>
		<string>Special Character</string>
		<string>\^</string>
		<string>\.</string>
		<string>\[</string>
		<string>\]</string>
		<string>\$</string>
		<string>\(</string>
		<string>\)</string>
		<string>\-</string>
		<string>\|</string>
		<string>\*</string>
		<string>\+</string>
		<string>\-</string>
		<string>\?</string>
		<string>\{</string>
		<string>\}</string>
		<string>\\</string>
	</array>
	<array>
		<string>C Special Character</string>
		<string>\a</string>
		<string>\e</string>
		<string></string>
		<string>\f</string>
		<string>\n</string>
		<string>\r</string>
		<string>\b</string>
		<string>\t</string>
		<string>\v</string>
		<string></string>
		<string>\B</string>
	</array>
	<array>
		<string>Coded Character</string>
		<string>\cX</string>
		<string>\uxxxx</string>
		<string>\Uxxxxxxxx</string>
		<string>\xhhh</string>
		<string>\0</string>
		<string>\oo</string>
		<string>\ooo</string>
	</array>
</array>
</plist>
