<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>Prepare Milestones.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>Prepare embedded Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>133</integer>
		</dict>
		<key>Prepare iTM2TeXFoundation.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>iTM2PDFKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>iTeXMac2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>517319A0134248A1000B2668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5185ED5212702A4F00AFA001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC5D702D0949E0B100EBA96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC81AD950887196E00943C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC9E4F310858A8A300A86BED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC3EDF808FE65DC00A74157</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
