<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>executeScriptAtPath:</key>
	<string>Executer un fichier script</string>
	<key>insertMacro:</key>
	<string>Insérer du texte comme macro</string>
</dict>
</plist>
