<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>executeAsScript:</key>
	<string>Executer comme script</string>
	<key>executeScriptAtPath:</key>
	<string>Executer un fichier script</string>
	<key>insertMacro:</key>
	<string>Insérer du texte comme macro</string>
	<key>insertMacro_PREPEND_SELECTION:</key>
	<string>Insérer avant la sélection</string>
	<key>insertMacro_REPLACE_SELECTION:</key>
	<string>Remplacer la selection</string>
	<key>insertMacro_APPEND_SELECTION:</key>
	<string>Insérer après la sélection</string>
	<key>insertMacro_PREPEND_ALL:</key>
	<string>Insérer au début</string>
	<key>insertMacro_REPLACE_ALL:</key>
	<string>Remplacer tout</string>
	<key>insertMacro_APPEND_ALL:</key>
	<string>Insérer à la fin</string>
	<key>insertMacro_PREPEND_LINE:</key>
	<string>Insérer en début de ligne</string>
	<key>insertMacro_REPLACE_LINE:</key>
	<string>Remplacer la line</string>
	<key>insertMacro_APPEND_LINE:</key>
	<string>Insérer en fin de ligne</string>
	<key>insertMacro_COPY:</key>
	<string>Copier la macro</string>
</dict>
</plist>
