<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isa</key>
	<string>Paths Dictionary</string>
	<key>Fink Paths</key>
<dict>
	<key>iTM2GSBinariesPATH</key>
	<string>/sw/bin</string>
	<key>iTM2TeXMFBinariesPATH</key>
	<string>/sw/bin</string>
	<key>iTM2TeXMFDocPATH</key>
	<string>/sw/share/texmf/doc</string>
	<key>iTM2TeXMFPATH</key>
	<string>/sw/share/texmf</string>
</dict>
	<key>Standard Paths</key>
<dict>
	<key>iTM2GSBinariesPATH</key>
	<string>/usr/local/bin</string>
	<key>iTM2TeXMFBinariesPATH</key>
	<string>/usr/local/teTeX/bin/powerpc-apple-darwin-current</string>
	<key>iTM2TeXMFDocPATH</key>
	<string>/usr/local/teTeX/share/texmf/doc</string>
	<key>iTM2TeXMFPATH</key>
	<string>/usr/local/teTeX/share/texmf</string>
</dict>
</dict>
</plist>
