<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Build &amp; Install Engines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>144</integer>
		</dict>
		<key>Install Engines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>145</integer>
		</dict>
		<key>Prepare Milestones.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Prepare embedded Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Prepare iTM2Foundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>149</integer>
		</dict>
		<key>TeX wrapper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Test Suite.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Test TeX Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>dvipdfm wrapper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dvips wrapper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>iTM2TeXFoundation Base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>148</integer>
		</dict>
		<key>iTM2TeXFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>147</integer>
		</dict>
		<key>iTM3TeXFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>iTeXMac2 Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>iTeXMac2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>146</integer>
		</dict>
		<key>pstopdf wrapper.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>512DE336133E7D910087888D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513B891C1342172C006CA861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513B89AC13421774006CA861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513B89B7134217A1006CA861</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5185ED7912702B6800AFA001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B730F7133E884F00E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B73117133E897400E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B733C4133EA9CB00E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B736361340F04500E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B736591340F0D400E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B736751340F1BB00E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B737011341B79400E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B737971341B8E600E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51B737AB1341B8E700E7E772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51F00C1612E63B98002A4013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC1C6B31090D983F000F4FDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2CA78D0855D4F500128F14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC4E16D40CCD04FF00F5CE3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC5D6CB90949A3F100EBA96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC81AE6D08871B4600943C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC892C1908FB10E9007A4673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC892DA308FB951F007A4673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF2E57D095240C600EE54E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
