<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text/math.pl/insertLaTeXEnvironmentXX</key>
	<string>/Users/coder/iTeXMac/iTeXMac2/Developer/build/Macros/text/math.pl</string>
	<key>text/math.pl/usepackageXX</key>
	<string>/Users/coder/iTeXMac/iTeXMac2/Developer/build/Macros/text/math.pl</string>
	<key>text/text.pl/insertLaTeXEnvironment</key>
	<string>/Users/coder/iTeXMac/iTeXMac2/Developer/build/Macros/text/text.pl</string>
	<key>text/text.pl/usepackage</key>
	<string>/Users/coder/iTeXMac/iTeXMac2/Developer/build/Macros/text/text.pl</string>
</dict>
</plist>
