PRODUCT_NAME = $(iTM3_PRODUCT_NAME)
iTM3_PRODUCT_NAME = NONE
iTM3_BUILD_NAME_PRODUCT = $(SYM_ROOT)/$(iTM3_PRODUCT_NAME)
iTM3_FOUNDATION_NAME = iTM3Foundation
iTM3_FOUNDATION_TEXT_PREFIX = External Inspectors/Text/
iTM3_FOUNDATION_PDF_PREFIX = External Inspectors/PDF/
iTM3_TeX_FOUNDATION_NAME = iTM2TeXFoundation
iTM3_TeX_FOUNDATION_ENGINES_PREFIX = $(iTM3_TeX_FOUNDATION_NAME)Engines/$(iTM3_PRODUCT_NAME)/
iTM3_APP_NAME = iTeXMac2
iTM3_TEST_TEX_APPLICATION_NAME = Test TeX Application
iTM3_TEST_NEW_APPLICATION_NAME = Test New Application
iTM3_PDFKIT_NAME = iTM3PDFKit
iTM3_CONTEXTKIT_NAME = iTM3ConTeXtKit
iTM3_LaTeXKIT_NAME = iTM3LaTeXKit
iTM3_NEW_DOCUMENT_KIT_NAME = iTM2NewDocumentKit
iTM2_PREFIX_HEADER = $(iTM2_INFO_PREFIX)$(iTM3_PRODUCT_NAME)-Prefix.pch
iTM2_INFOPLIST_FILE = $(iTM2_INFO_PREFIX)$(iTM3_PRODUCT_NAME)-Info.plist
iTM2_INFO_PREFIX = 
